@use '../variables/scss-variables' as *;
.field {
  display: flex;
  flex-direction: column;
}

.field-row {
  display: flex;
  gap: 1rem;
}

.field,
.field-row {
  margin-bottom: 0.5rem;
}

.equal-columns > .field {
  flex: 1;
}

.field-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: flex-end;
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-1 {
  grid-column: span 1;
}

.align-end {
  align-items: end;
}


@media screen and (max-width: 768px) {
  .field-grid-4 {
    grid-template-columns: 1fr !important;
  }

  .col-span-1,
  .col-span-2 {
    grid-column: span 1 !important;
  }

  .equal-columns > .field {
    flex: 1 1 100%;
  }

  .field-row {
    flex-direction: column;
  }

  .project-button {
    width: 100%;
  }
}
